.vscode/
*venv*/*

*.DS_Store*
*.ipynb_checkpoints
*.$*.bkp
.DS_Store
.idea/
*.$*.kp
**/__pycache__/
*.cpython-310.pyc
*.pyc

*wandb/
catboost_info/
saved_models/
parquet_files/
*.parquet
pickled/
src/pickled/
src/figures/
src/model/

# data
interim_data/*
ASM_data/*
public_datasets/*
