.vscode/
venv/
myenv*/
myenv*/
*venv*/

*.DS_Store*
*.ipynb_checkpoints
*.$*.bkp
.DS_Store
.idea/
*.$*.kp
**/__pycache__/
*.cpython-310.pyc
*.pyc

ASM_data/*
*wandb/
catboost_info/
saved_models/
parquet_files/
*.parquet