adjustText
catboost
category_encoders
dtype_diet
einops
# fastdtw
fvcore
geomstats
h5py
huggingface_hub
ipykernel
jupyter
lightgbm
# lttb
matplotlib
metasynth
memory-profiler
# momentfm
nixtla
numpy<2.0.0,>=1.23.5 # numpy
numba
numexpr
opt-einsum
pandas
polars
pykan
pycatch22
pyriemann
# ==== hyperparam search ====
ray[data,train,tune,serve]
hpbandster #for ray
ConfigSpace #for ray
optuna
# =============
# rdp # Ramer-Douglas-Peucker Algorithm
scikit-learn ==1.4.2 #Giotto is problematic
scikit-dimension
seaborn
shap
statsmodels
# ==
# tensorflow==2.15.0; sys_platform == "linux"
# tensorflow-macos==2.15.0; sys_platform == "darwin"
# protobuf==4.25.3 #this is with tensorflow
# ==

torch==2.8.0
torchvision
torchaudio
torchmetrics
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv

tqdm
tslearn
pykeops
# pykan
PyYAML
ts2vec
umap-learn # not umap
wandb
wfdb
xarray
xgboost
zarr

#TDA
ripser
persim
# giotto-tda >= 0.6.1
stochman
gudhi
POT # for Gudhi
dionysus

# Datasets:
# ucimlrepo
# momentfm
